.cis260specialbrown {
    color: #ef5c5c
}


#cisspecialparent a {
    color: #6184c6:;
}


body {

    background-color: #cccccc
}

header {

    display: flex;
    align-items: center;
    background-color: dimgrey;
    flex-direction: column;

}


a {

    color: #050084
}

@media screen and (max-width: 40rem) {
    header {
        flex-direction: column
    }
}
