.cis260specialbrown {
    color: #ef5c5c
} 
/*change color name*/

#cisspecialparent a {
    color: #6184c6:;
}
/*yeah change this name too*/


body {

    background-color: #cccccc
}
 
header {

    display: flex;
    align-items: center;
    background-color: dimgrey;
    flex-direction: column;
/*i want a column for the icon and anchors but i want the anchors in a row so figure that out pls*/
}


a {

    color: #d8d2d2
}

@media screen and (max-width: 40rem) {
    header {
        flex-direction: column
    }
}
